<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <title>Gym Manager</title>
    {% endblock %}
    <link rel="stylesheet" href="/index.css">
</head>

<body>
    <header>
        <div class="links">
            <a href="/" class="active">Instructors</a>
            <a href="/">Members</a>
        </div>
    </header>

    {% block content %}

    {% endblock %}
</body>

</html>